<div
    class="fixed-bottom bg-black p-3 rounded-top"
    style="background-color: black"
    id="cookieNotice"
>
    <div class="container">
        <div class="row">
            <p class="h4 col-md-10">
                This website uses cookies. By continuing to browse this webpage,
                you accept the use of cookies. &#127850;
            </p>
            <div class="col-md-2">
                <button class="btn btn-primary" id="cookieBtn">Accept</button>
            </div>
        </div>
    </div>
</div>
<script src="cookies.js"></script>
